.container {
    width: 100%;
    padding: 0 50px;
    min-width: 340px;
    text-align: center;
}

.listContainer {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    list-style: none;
}

.listItem {
    display: flex;
    margin-bottom: 15px;
}

.listItemValueWrapper {
    width: 100%;
    padding-right: 10px;
    text-align: left;
}


.formContent {
    display: flex;
}

.submitBtn {
    flex-shrink: 0;
}

.inputField {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    margin-right: 20px;
}