@import "styles/common_styles/index";

@mixin box-shadow($color) {
    box-shadow: 0 0 5px $color,
        0 0 12px $color,
        0 0 8px $color,
        0 0 20px $color;
}

.button-container {
    position: relative;
    display: inline-block;
    background: transparent;
    border: 1px solid $main-color;
    padding: 10px 20px;
    color: $main-color;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .35s;
    letter-spacing: 4px;
    cursor: pointer;
    outline: 0;

    @media (hover: hover) {
        &:hover {
            background: $main-color;
            color: $main-color;
            border-radius: 5px;
            @include box-shadow($main-color);

            &.primary {
                color: $main-color-2;
                border-color: $main-color-2;
                @include box-shadow($main-color-2);

                svg path {
                    fill: $main-color-2;
                }
            }

            &.secondary {
                color: $main-color-3;
                border-color: $main-color-3;
                @include box-shadow($main-color-3);

                svg path {
                    fill: $main-color-3;
                }
            }

        }
    }

    &.large {
        padding: 10px 24px;
        font-size: 18px;
    }

    &.small {
        padding: 10px;
        font-size: 14px;
    }

    .content {
        color: inherit;
        display: flex;
        gap: 8px;
        align-items: center;
        font-weight: 500;

        svg {
            max-width: 16px;
            max-height: 16px;
        }
    }
}


@media screen and (max-width: $md-size-max-width) {
    .button-container {
        &.large {
            padding: 8px 14px;
            font-size: 16px;
        }
        &.small {
            padding: 8px;
            font-size: 12px;
        }
        .content svg {
            max-width: 12px;
            max-height: 12px;
        }
    }
}