@import "common_styles/index";
@import "common_styles/initial";
@import "common_styles/initial_specified_media";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $main-color-3;
    }

    &::-webkit-scrollbar-track {
        background-color: $main-color-2;
    }
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;

    header {
        margin: 16px auto auto;
        display: flex;
        gap: 14px;

        a {
            color: #fff;
            font-size: 17px;

            &.active {
                text-decoration: underline;
                color: $main-color-3;
            }

            @media (hover: hover) {
                &:hover {
                    color: $main-color-2;
                }
            }
        }
    }
}

#root {
    background: linear-gradient(#141e30, #243b55);
}

@media screen and (max-width: $md-size-max-width) {
    .App {
        min-height: 100svh;
    }
}